h2{
    text-align: center;
    margin-top:40px;
}

#category {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:40px;
}

#category td, #category th {
    border: 1px solid #ddd;
    padding: 8px;
}

#category tr:hover {
    background-color: #ddd;
}

#category th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
.content a{
    text-decoration: none;
    color: black;
}
.content button{
    width: 50px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid darkgrey;
}
