body{
    font-size: 18px;
}
h2{
    text-align: center;
}
 #button-back{
    width: 50px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid darkgrey;
}
.content a{
    text-decoration: none;
    color:black;
}
.content label{
    font-weight: bold;
}
.content input{
    width: 450px;
    height: 40px;
    margin-top:5px;
    margin-bottom: 10px;
    border: 1px solid darkgrey;
    border-radius: 4px;
}
input.form-control{
    font-size: 16px;
    padding-left: 10px;
}
.content .form-group{
    margin-top: 10px;
}
#button-submit{
    background-color: #04AA6D;
    color: white;
    width: 150px;
    height: 40px;
    margin-top:20px;
    border:1px solid darkgrey;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 150px;
}
